@import 'colors/colors';
@import 'lib/animate';
@import 'mixins/mixins';
@import 'forms/forms';
@import 'keyframes/keyframes';
@import 'breakpoints/base_landscape';
@import 'breakpoints/base';


@media screen and (min-width: 601px) {
	// styles in 600up.scss
  @import "breakpoints/600_up";
} // end of media query

@media screen and (min-width: 993px) {
	// styles in 992up.scss
  @import "breakpoints/992_up";
} // end of media query

@media screen and (min-width: 1200px) {
	// styles in 1200up.scss
  @import "breakpoints/1200_up";
} // end of media query

@media screen and (min-width: 1400px) {
	// styles in 1400up.scss
  @import "breakpoints/1400_up";
} // end of media query

@media screen and (min-width: 1600px) {
	// styles in 1600up.scss
  @import "breakpoints/1600_up";
} // end of media query

@media screen and (min-width: 1800px) {
	// styles in 1800up.scss
  @import "breakpoints/1800_up";
} // end of media query

@media only screen
    and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
      @import 'breakpoints/base_landscape';
}