@keyframes underlined{
    0%{
        width: 0;
        height: 3px;
    }
    50%{
        width: 30%;
        height: 2px;
    }
    100%{
        width: 100%;
        height: 1px;
    }
}

@keyframes decoration_spin{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0.2;
    }
    100%{
        opacity: 0.2;
        transform: rotate(28deg);
    }
}

@keyframes scroller{
    0%{bottom: 100px}
    30%{bottom: 97px}
    80%{bottom: 95px}
    100%{bottom: 100px}
}