html{
  height: 100%;
}
body{
  background-color: white;
  color: $slate;
  height: 100%;
}

.application{
  font-family: 'Lato', sans-serif;
}
.theme--light{
  &.application{
    color: $slate;
  }
}
#app{
  &.locked{
    overflow: hidden;
    height: 100%;
  }
}

/*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
   .clearfix:before,
   .clearfix:after {
       content: " "; /* 1 */
       display: table; /* 2 */
   }
   
   .clearfix:after {
       clear: both;
   }

   #overlay{
     position: fixed;
     opacity: 0;
     z-index: -1;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(51, 51, 51, 0.85);
     transition: all 0.3s ease;
     &.activated{
       opacity: 1;
       z-index: 100;
     }
     &.successful{
       background-color: rgba(92, 139, 4, 0.95)
     }
     &.errorful{
      background-color: rgba(188, 48, 48, 0.95)
    }
     h1{
       color: white;
       font-weight: 400;
       text-align: center;
     }
     button{
       display: block;
       margin: 20px auto 0;
     }
     #spinner{
       width: 60px;
       margin: 177px auto 0;
       display: block;
     }
     #otp-prompt{
       width: 300px;
       border-radius: 5px;
       background-color: white;
       padding: 20px;
       margin: auto;
       opacity: 0;
       transition: all 0.3s ease;
       position: absolute;
       left: 0;
       right: 0;
       top: 70px;
       z-index: -1;
       &.activated{
         opacity: 1;
         z-index: 100;
       }
     }
   }

#hero{
  width: 320px;
  margin: 0 auto;
  padding: 20px 20px 70px 20px;
  background-color: lighten($lightgrey, 7%);
  border-radius: 14px 14px 0 0;
  border: 1px solid $lightgrey;
  border-bottom: transparent;
  position: relative;
  &[data-bank="FNB"]{
    background-color: $fnb;
    h1{
      color: white;
    }
    p{
      color: white;
    }
  }
  &[data-bank="Nedbank"]{
    background-color: $nedbank;
    h1{
      color: white;
    }
    p{
      color: white;
    }
  }
  &[data-bank="Capitec"]{
    background-color: $capitec;
    h1{
      color: white;
    }
    p{
      color: white;
    }
  }
  &[data-bank="Standard Bank"]{
    background-color: $standardbank;
    h1{
      color: white;
    }
    p{
      color: white;
    }
  }
  &[data-bank="Absa"]{
    background-color: $absa;
    h1{
      color: white;
    }
    p{
      color: white;
    }
  }
  h1{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  p{
    &.microcopy{
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      max-width: 190px;
      margin: 0 auto;
    }
  }
  #logo-decoration{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    width: 280px;
    height: 50px;
    margin: auto;
  }
  #logo{
    position: absolute;
    width: 56px;
    left: 0;
    right: 0;
    bottom: -25px;
    margin: auto;
  }
}

#holder{
  width: 320px;
  margin: 0 auto;
  border: 1px solid $lightgrey;
  border-top: transparent;
  border-bottom: transparent;
  padding: 70px 20px 20px 20px;
  background-color: white;
  #secure-icon{
    margin-top: 15px;
    width: 9px;
    float: left;
  }
  #secure-copy{
    margin-top: 15px;
    font-size: 12px;
    float: left;
    width: 210px;
    margin-left: 10px;
    color: $grey;
  }
}

#footer{
  width: 320px;
  margin: 0 auto;
  border: 1px solid $lightgrey;
  border-radius: 0 0 14px 14px;
  border-top: transparent;
  background-color: lighten($lightgrey, 10%);
  h1{
    font-size: 20px;
    font-weight: 400;
    color: lighten($grey, 10%);
    text-align: center;
    padding: 50px 0 10px 0;
    background-color: white;
  }
  #supported-banks{
    width: 244px;
    margin: 20px auto 30px;
    display: block;
  }
}