$error: #F22613;
$warning: #F5D76E;
$success: #26C281;
$info: #22A7F0;

$lightgrey: #e0e0e0;
$grey: #a0a0a0;
$slate: #596f7a;

$fnb: #00B5B9;
$nedbank: #00553E;
$standardbank: #155A9E;
$absa: #D8332C;
$capitec: #004D7B;