<template>
  <div class="container">

    <div id="overlay" :class="{ activated: overlayUp, successful: successState, errorful: errorState}">
      <div id="otp-prompt" :class="{ activated: promptOtp }">
        <!-- <h2>OTP Authorisation</h2> -->
        <v-text-field
          v-model="otp"
          :rules="otpRules"
          label="Enter your OTP"
          required
        ></v-text-field>
        <v-btn
          block
          color="primary"
          :disabled="!valid"
          @click="submitOTP"
        >
          AUTHORISE
        </v-btn>
      </div>

      <img id="spinner" v-show="(successState === null) && (errorState === null)" src="../assets/img/spinner.svg" alt="">
      <img id="spinner" v-show="successState" src="../assets/img/icon-success.svg" alt="">
      <img id="spinner" v-show="errorState" src="../assets/img/icon-error.svg" alt="">

      <h1>{{ runningStatus }}</h1>
      <v-btn large color="primary" v-show="successState" @click="getStatements">Get your Statements</v-btn>
      <v-btn large color="primary" v-show="errorState" @click="dismissOverlay">Try Again</v-btn>
    </div>

    <div id="hero" :data-bank="select">
      <h1>{{ msg }}</h1>
      <p class="microcopy">Select your bank and enter your credentials to fetch your 90-day statements</p>
      <img id="logo-decoration" src="../assets/img/logo-decoration.svg" />
      <img v-show="!select" id="logo" src="../assets/img/logo-placeholder.svg" alt="">
      <img v-show="select == 'Standard Bank'" id="logo" src="../assets/img/logo-standardbank.svg" alt="">
      <img v-show="select == 'FNB'" id="logo" src="../assets/img/logo-fnb.svg" alt="">
      <img v-show="select == 'Absa'" id="logo" src="../assets/img/logo-absa.svg" alt="">
      <img v-show="select == 'Nedbank'" id="logo" src="../assets/img/logo-nedbank.svg" alt="">
      <img v-show="select == 'Capitec'" id="logo" src="../assets/img/logo-capitec.svg" alt="">
    </div>

    <div id=holder class="clearfix">
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-select
          v-model="select"
          :rules="selectRules"
          :items="banks"
          label="Select Your Bank"
          @change="selectedBank"
        ></v-select>
        <v-text-field
        v-if="(select == 'FNB') || (select == 'Capitec') || (select == 'Standard Bank') || (select == 'Nedbank')"
          v-model="login"
          :rules="loginRules"
          label="Login"
          required
        ></v-text-field>
        <v-text-field
        v-if="select == 'Absa'"
          v-model="pin"
          :rules="pinRules"
          label="Pin"
          required
        ></v-text-field>
        <v-text-field
        v-if="select"
          v-model="password"
          :rules="passwordRules"
          label="Password"
          type="password"
          required
        ></v-text-field>
        <v-text-field
        v-if="(select == 'FNB') || (select == 'Capitec') || (select == 'Standard Bank') || (select == 'Nedbank') || (select == 'Absa')"
          v-model="accNumber"
          :rules="accNumberRules"
          label="Account Number"
          required
        ></v-text-field>

        <v-btn
          block
          color="success"
          :disabled="!valid"
          @click="submit"
        >
          FETCH
        </v-btn>
        <img id="secure-icon" src="../assets/img/lock.svg" alt="">
        <p id="secure-copy">Network connections are secured and your credentials will NOT be saved</p>
      </v-form>

      <img src="../assets/img/divider.svg" alt="">
    </div>

    <div id="footer">
      <h1>Supported Banks</h1>
      <div id="supported-holder">
        <img id="supported-banks" src="../assets/img/supported-banks.svg" alt="">
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'Home',
  data: () => ({
      overlayUp: null,
      runningStatus: null,
      successState: null,
      errorState: null,
      promptOtp: null,
      valid: false,
      select: null,
      selectRules: [v => !!v || 'Please select your bank'],
      banks: ['Standard Bank', 'Absa', 'FNB', 'Capitec', 'Nedbank'],
      pin: '',
      pinRules: [
        v => !!v || 'Pin is required'
      ],
      login: '',
      loginRules: [
        v => !!v || 'Login is required'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Password is required'
      ],
      accNumber: '',
      accNumberRules: [
        v => !!v || 'Account number is required'
      ],
      otp: '',
      otpRules: [
        v => !!v || 'Account number is required'
      ]
    }),
  props: {
    msg: String
  },
  mounted () {
    // this.valid = false
  },
  methods: {
    selectedBank() {
      console.log(this.select)
    },
    submit() {
      //checking standard bank creds
      if( (this.select == 'Standard Bank') || (this.select == 'FNB') || (this.select == 'Capitec') || (this.select == 'Nedbank') ){
        let elApp = document.getElementById('app')
        elApp.classList.add('locked')
        if(this.login && this.password && this.accNumber){
          this.runningStatus = 'Logging in...'
          setTimeout(function () { this.runningStatus = 'Waiting for OTP...', this.promptOtp = true}.bind(this), 2000)
          this.overlayUp = true
        } else {
          this.runningStatus = 'ERROR'
          this.overlayUp = true
          this.errorState = true
        }
      }
      if(this.select == 'Absa'){
        let elApp = document.getElementById('app')
        elApp.classList.add('locked')
        if(this.pin && this.password && this.accNumber){
          this.runningStatus = 'Logging in...'
          setTimeout(function () { this.runningStatus = 'Waiting for OTP...', this.promptOtp = true}.bind(this), 2000)
          this.overlayUp = true
        } else {
          this.runningStatus = 'ERROR'
          this.overlayUp = true
          this.errorState = true
        }
      }
    },
    submitOTP() {
      if(this.otp){
        this.promptOtp = false
        this.runningStatus = 'Validating OTP...'
        setTimeout(function () { this.errorState = true, this.runningStatus = 'ERROR' }.bind(this), 2000)
        setTimeout(function () { this.errorState = null, this.successState = true, this.runningStatus = 'SUCCESS' }.bind(this), 4000)
      }
    },
    dismissOverlay() {
      let elApp = document.getElementById('app')
      elApp.classList.remove('locked')
      this.errorState = null
      this.successState = null
      this.overlayUp = null;
    },
    clearInputs() {
      this.select = null
      this.pin = null
      this.login = null
      this.password = null
      this.accNumber = null
      this.otp = null
    },
    getStatements() {
      this.dismissOverlay()
      this.clearInputs()
    }
  }
}
</script>
