// ======================================= WHITE VARIANT
.input-field input,
textarea.materialize-textarea{
    color: white!important;
}
/* label color */
.input-field label,
textarea.materialize-textarea label {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 700;
    font-size: 18px;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label,
  input[type=password]:focus + label,
  input[type=email]:focus + label,
  input[type=url]:focus + label,
  input[type=time]:focus + label,
  input[type=date]:focus + label,
  input[type=datetime]:focus + label,
  input[type=datetime-local]:focus + label,
  input[type=tel]:focus + label,
  input[type=number]:focus + label,
  input[type=search]:focus + label,
  textarea.materialize-textarea:focus + label{
    color: white!important;
  }
  /* label underline focus color */
  input:not([type]),
  input[type=text]:not(.browser-default),
  input[type=password]:not(.browser-default),
  input[type=email]:not(.browser-default),
  input[type=url]:not(.browser-default),
  input[type=time]:not(.browser-default),
  input[type=date]:not(.browser-default),
  input[type=datetime]:not(.browser-default),
  input[type=datetime-local]:not(.browser-default),
  input[type=tel]:not(.browser-default),
  input[type=number]:not(.browser-default),
  input[type=search]:not(.browser-default),
  textarea.materialize-textarea {
    border-bottom: 1px solid white!important;
    box-shadow: 0 0 0 0 white!important;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: white!important;
  }

  .z-depth-1-half, .btn:hover, .btn-large:hover, .btn-small:hover, .btn-floating:hover{
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .06), 0 1px 7px 0 rgba(0, 0, 0, .06), 0 3px 1px -1px rgba(0, 0, 0, .06)
  }

  // ====================================== GREY VARIANT
  .base-grey .input-field input,
  .base-grey textarea.materialize-textarea{
    color: $slate!important;
}
/* label color */
.base-grey .input-field label,
.base-grey textarea.materialize-textarea label {
    color: rgba(0, 0, 0, 0.3);//
  }
  /* label focus color */
  .base-grey .input-field input[type=text]:focus + label,
  .base-grey input[type=password]:focus + label,
  .base-grey input[type=email]:focus + label,
  .base-grey input[type=url]:focus + label,
  .base-grey input[type=time]:focus + label,
  .base-grey input[type=date]:focus + label,
  .base-grey input[type=datetime]:focus + label,
  .base-grey input[type=datetime-local]:focus + label,
  .base-grey input[type=tel]:focus + label,
  .base-grey input[type=number]:focus + label,
  .base-grey input[type=search]:focus + label,
  .base-grey textarea.materialize-textarea:focus + label{
    color: $slate!important;
  }
  /* label underline focus color */
  .base-grey input:not([type]),
  .base-grey input[type=text]:not(.browser-default),
  .base-grey input[type=password]:not(.browser-default),
  .base-grey input[type=email]:not(.browser-default),
  .base-grey input[type=url]:not(.browser-default),
  .base-grey input[type=time]:not(.browser-default),
  .base-grey input[type=date]:not(.browser-default),
  .base-grey input[type=datetime]:not(.browser-default),
  .base-grey input[type=datetime-local]:not(.browser-default),
  .base-grey input[type=tel]:not(.browser-default),
  .base-grey input[type=number]:not(.browser-default),
  .base-grey input[type=search]:not(.browser-default),
  .base-grey textarea.materialize-textarea {
    border-bottom: 1px solid $slate!important;
    box-shadow: 0 0 0 0 black!important;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: white!important;
  }