<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/img/logo.png"> -->
    <v-app>
    <Home msg="90-DAY BOT"/>
    </v-app>
  </div>
</template>

<script>
import Home from './components/Home.vue'

export default {
  name: 'app',
  components: {
    Home
  }
}
</script>
